* {
	margin: 0;
	padding: 0;
}

nav {
	box-sizing: border-box;
	background-color: #66FF99;
	position: sticky;
	top: 0;
	width: 100%
	margin: 0px;
	padding: 10px 20px;
	list-style-type: none;
	font-family: 'Space Mono', monospace;
	font-size: 32px;
}

nav:hover {
	background-color: #CCFF99;
}

nav li {
	display: inline;
}

nav li a {
	color: #000000;

}

h1 {
	margin: 10px;
	padding: 10px 20px;
	font-family: 'Helvetica', sans-serif;
	font-size: 48px;
	font-weight: bold;
}

p {
	margin: 10px;
	padding: 10px 20px;
	font-family: 'Helvetica', sans-serif;
	font-size: 22px;
}

footer {
	box-sizing: border-box;
	background-color: #66FF99;
	position: sticky;
	bottom: 0;
	width: 100%;
	margin: 0px;
	padding: 10px 20px;
	font-family: 'Space Mono', monospace;
	font-size: 32px;
}