* {
	margin: 0%;
	padding: 0%;
}

p {
	margin: 1%;
	padding: 0.5% 5%;
	font-family: 'Helvetica', sans-serif;
	font-size: medium;
}

ul {
	margin: 1%;
	padding: 0.5% 10%;
}

li {
	padding: 0.5%;
	font-family: 'Helvetica', sans-serif;
	font-size: medium;
}

h1 {
	margin: 1%;
	padding: 0.5% 5%;
	font-family: 'Helvetica', sans-serif;
	font-size: xxx-large;
	font-weight: bold;
}

h2 {
	margin: 1%;
	padding: 0.5% 5%;
	font-family: 'Helvetica', sans-serif;
	font-size: xx-large;
	font-weight: bold;
}

h3 {
	margin: 1%;
	padding: 0.5% 5%;
	font-family: 'Helvetica', sans-serif;
	font-size: large;
	font-weight: normal;
}

.imageCollection {
	padding: 0.5% 6%;
    display: flex;
    flex-wrap: wrap;
}

img {
	margin: 0.5%;
	width: 400px;
	height: auto;
}

@media (max-width: 500px) {
	img {
		width: 85vw;
		height: auto;
	}
}

nav {
	box-sizing: border-box;
	background-color: darkblue;
	position: sticky;
	top: 0;
	width: 100%;
	margin: 0%;
	padding: 1% 0%;
	list-style-type: none;
}

nav:hover {
	background-color: lightblue;
}

nav ul {
	margin : 0%;
	padding: 0% 6%;
	
}

nav li {
	display: inline;
	font-family: 'Space Mono', monospace;
	font-size: x-large;
}

nav li a {
	color: #FFFFFF;
}

nav:hover li a {
	color: #000000;
}

footer {
	box-sizing: border-box;
	background-color: darkblue;
	width: 100%;
	margin: 0%;
	padding: 1% 0%;
}

footer p {
	margin: 1%;
	padding: 0% 5%;
	font-family: 'Space Mono', monospace;
	font-size: x-large;
	color: #FFFFFF;
}

footer li {
	font-family: 'Helvetica', sans-serif;
	font-size: medium;
	color: #FFFFFF;
}

footer li a {
	color: #FFFFFF;
}

footer li a:visited {
	color: #FFD700;
}